
@{
    ViewBag.Title = "Pontos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="div_geral" style="background-image: linear-gradient(#00ff7f, #0f825b); margin-top:0px">
    <div id="div_corpo">
        <div class="div_esqueleto">
            <h2 style="text-align: center; padding-top: 5%; color: white;">PONTUAÇÃO ROSNANDO</h2>
            <div class="row" style="margin-top: 2%; color: white;">
                <div class="col-sm-7 ">
                    <h2>
                        O que é a <br>
                        Pontuação Rosnando?
                    </h2>
                    <p style="font-size: 20px;">
                        A Pontuação Rosnando é um sistema de acumulo de pontuação
                        que beneficia os usuários que mais interagem com nosso site.
                    </p>
                </div>
                <div class="col-sm-4">
                    <img src="~/IMG/pontos.png" style="width: 500px;">
                </div>
            </div>
            <h4 style="text-align: center; margin-top: 10%; color: white;">COMO FUNCIONA?</h4>
            <div class="row" style="margin-top: 5%; color: white; text-align: center;">
                <div class="col-sm-4 ">
                    <h3>1. CADASTRO</h3>
                    <p style="font-size: 20px;">Cadastre-se e ganhe 50 Pontos</p>
                </div>
                <div class="col-sm-4 ">
                    <h3>2. INDIQUE</h3>
                    <p style="font-size: 20px;">Para ada amigo cadastrado com sua indicação ganhe 30 Pontos</p>
                </div>
                <div class="col-sm-4 ">
                    <h3>3. CADASTRE SEU PET</h3>
                    <p style="font-size: 20px;">Para cada PET cadastrado ganhe 20 Pontos</p>
                </div>
            </div>
            <h3 style="text-align: center; margin-top: 5%; color: white;">QUANTO MAIS PONTOS ACUMULAR MAIS BENEFÍCIOS VOCÊ GANHA!</h3>




        </div> <!-- DIV esqueleto-->
    </div><!-- DIV corpo-->
</div> <!-- DIV GERAL -->
